
<div class="container-fluid">
  <div class="row">

    <!-- Creators -->
    <div class="col-3 p-2">
      <button class="btn btn-block btn-outline-primary" (click)='changeCreator()'>
        All Creators
      </button>
      <button *ngFor='let creator of creators'
        class="btn btn-outline-primary btn-block"
        [class.active] = 'creator == selectedCreator' (click)='changeCreator(creator)'>
        {{ creator }}
      </button>
    </div>

    <!-- Surveys -->
    <div class="col-9 p-2">
      <div *ngFor='let survey of surveys' class="card m-1 p-1 bg-light">
        <h4>
          {{ survey.name }}
          <span class="badge badge-pill badge-primary float-right">
            {{ survey.price | currency: 'USD':'symbol':'2.2-2' }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">{{ survey.description }}
          <button class="btn btn-success btn-sm float-right"
            (click)='addSurveyToCart(survey)'>
            Add To Cart
          </button>
        </div>
      </div>

      <div class="form-inline float-left mr-1">
        <select class="form-control" [value]='surveysPerPage'
        (change)='changePageSize($event.target.value)'>
          <option value="3">3 per Page</option>
          <option value="4">4 per Page</option>
          <option value="6">6 per Page</option>
          <option value="8">8 per Page</option>
        </select>
      </div>

      <div class="btn-group float-right">
        <button *counter='let page of pageCount' (click)='changePage(page)'
         class="btn btn-outline-primary"
        [class.active]='page == selectedPage'>
        {{ page }}
      </button>
    </div>

    </div>

  </div>
</div>
