<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem">
        <div class="card-body p-5">
          <h2 class="mb-5 text-center">Login</h2>

          <form #loginForm="ngForm" novalidate>
            <div class="form-outline mb-4">
              <label class="form-label" for="username">Username</label>
              <input
                type="text"
                required
                #username="ngModel"
                [class.is-invalid]="username.invalid && username.touched"
                class="form-control form-control-lg"
                name="username"
                [(ngModel)]="user.username"
              />
              <small
                class="text-danger"
                [class.d-none]="username.valid || username.untouched"
                >Username is required!</small
              >
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input
                type="password"
                required
                #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched"
                class="form-control form-control-lg"
                name="password"
                [(ngModel)]="user.password"
              />
              <small
                class="text-danger"
                [class.d-none]="password.valid || password.untouched"
                >Password is required!</small
              >
            </div>

            <button
              [disabled]="loginForm.form.invalid"
              class="btn btn-primary btn-lg btn-block"
              (click)="authenticate()"
            >
              Login
            </button>
            <div class="mt-2 p-2 text-center text-danger">
              {{ errorMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
