<h1 class="display-5 text-center">{{ survey.surveyName }}</h1>

<form novalidate #form="" (ngSubmit)="save(form)">
  <div class="container mb-5">
    <div class="callout callout-primary">
      <div class="container px-5 py-4">

          <p>Description:</p>
          <p>{{ survey.description }}</p>

      </div>
    </div>

    <div
      class="callout callout-primary"
      *ngFor="let question of survey.questions"
    >
        <div *ngIf="question.questionType == 'text'">
            <div class="d-flex flex-row-reverse">
            </div>
            <div class="container px-5">

                    <p>Question:</p>
                    <p>{{question.value}}</p>
                    <p>Answer</p>
                    <input
                        class="form-control"
                        id="response"
                        name="response"
                        [(ngModel)]="survey.response"
                    />

            </div>
            <br />
        </div>
        <div *ngIf="question.questionType == 'select'">
            <div class="container px-5">
                <p>Question:</p>
                <p>{{question.value}}</p>
                <div class="row" *ngFor="let option of question.options">
                    <div class="col-1">
                        <input type="radio" name="radioBtn" id="radioBtn" />
                    </div>
                    <div class="col-4">
                        <input
                            class="form-control"
                            [(ngModel)]="option.value"
                            [ngModelOptions]="{ standalone: true }"
                        />
                    </div>
                    <div class="col-1">
                
                    </div>
                </div>
            </div>
          
        </div>

    </div>

    <div class="d-flex flex-row-reverse pb-5">
      <button type="button" class="btn btn-lg btn-primary">
        Submit
      </button>
    </div>
  </div>
</form>