<h1 class="display-5 text-center">{{ survey.surveyName }}</h1>

<form novalidate #form="ngForm" (ngSubmit)="save(form)">
  <div class="container mb-5">
    <div class="callout callout-primary">
      <div class="container px-5 py-4">
        <h6 class="font-weight-bold">Created Date:</h6>
        <p>
          {{ survey.createdDate | date: "MM/dd/yyyy  HH:mm:ss  Z" }}
        </p>
        <h6 class="font-weight-bold">Created by:</h6>
        <p>{{ survey.creator }}</p>
        <h6 class="font-weight-bold">Description:</h6>
        <p>{{ survey.description }}</p>
      </div>
    </div>
    <div
      class="callout callout-primary"
      *ngFor="let question of survey.questions; index as i"
    >
      <div *ngIf="question.questionType == 'text'">
        <div class="d-flex flex-row-reverse"></div>
        <div class="container px-5">
          <p class="font-weight-bold">Question {{ i + 1 }}:</p>
          <p>{{ question.value }}</p>
          <p class="font-weight-bold">Answer:</p>
          <input
            class="form-control"
            id="responses"
            name="responses"
            [(ngModel)]="question.temp"
          />
        </div>
        <br />
      </div>
      <div *ngIf="question.questionType == 'dropdown'">
        <div class="container px-5">
          <p class="font-weight-bold">Question {{ i + 1 }}:</p>
          <p>{{ question.value }}</p>
          <p class="font-weight-bold">Answer:</p>
          <select name="responses2" [(ngModel)]="question.temp">
            <option *ngFor="let option of question.options">
              {{ option.value }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="question.questionType == 'select'">
        <div class="container px-5">
          <p class="font-weight-bold">Question {{ i + 1 }}:</p>
          <p>{{ question.value }}</p>
          <p class="font-weight-bold">Answer:</p>
          <div *ngFor="let option of question.options">
            <input
              type="radio"
              name="{{ question.value }}"
              value="{{ option.value }}"
              [(ngModel)]="question.temp"
              (ngModelChange)="question.temp = option.value"
            />
            <label class="mx-1" for="question.value">{{ option.value }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row-reverse pb-5">
      <div class="row">
        <button class="col-10 btn btn-lg btn-primary" (click)="onSubmit()">
          Submit
        </button>
        <button class="mt-2 col-10 btn btn-lg btn-secondary" (click)="back()">
          Back
        </button>
      </div>
    </div>
  </div>
</form>
