<div class="card" style="width: 62.5rem; margin-left: auto; margin-right: auto; margin-bottom: 3rem;">
    <div class="card-header text-center">All Survey</div>
    <div class="card-body ">
        <tr>
    <th class="col-7">Survey</th>
    <th class="col-2">Created by</th>
    <th class="col-2">Status</th>
    <th class="col-1"></th>
    <th class="col-1"></th>
    <th class="col-1"></th>
</tr>
        <tr>
            <td class="col-7">COVID-19 Vaccination Coverage Survey</td>
            <td class="col-3">Chan</td>
            <td class="col-3">Open</td>
            <td class="col-1">

            </td>
            <td class="col-1">
                <a href="/editSurvey">
                    <i class="fas fa-arrow-circle-right fa-fw fa-lg" style="color:#64B5FF;"></i>
                </a>
            </td>
            <td class="col-1">

            </td>
            
        </tr>

    </div>
</div>
<p></p>
<p></p>
<p></p><p></p>
<p></p>
<p></p><p></p>
<p></p>
<p></p><p></p>
<p></p>
<p></p><p></p>
<p></p>
<p></p>