<div class="container mb-6">
  <div class="callout callout-primary">
    <div class="card-header text-center bg-white"><h5>All Survey</h5></div>
    <div class="card-body">
      <div *ngIf="surveys.length == 0" class="container text-center bg-white">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <table
        *ngIf="surveys.length > 0"
        class="table table-hover table-borderless"
      >
        <tr>
          <th class="col-7">Survey</th>
          <th class="col-2">Creator</th>
          <th class="col-2">Status</th>
          <th class="col-1"></th>
          <th class="col-1"></th>
          <th class="col-1"></th>
        </tr>
        <tr *ngFor="let survey of surveys">
          <td class="col-7">{{ survey.surveyName }}</td>
          <td class="col-3">{{ survey.creator }}</td>
          <td class="col-3">{{ survey.status }}</td>
          <td class="col-1"></td>
          <td class="col-1">
            <div [hidden]="survey.status == 'Closed'">
              <button
                *ngIf="isLoggedIn()"
                class="btn btn-sm m-1"
                (click)="answerSurvey(survey._id)"
              >
                <i
                  class="fas fa-arrow-circle-right fa-fw f-2x"
                  style="color: #64b5ff"
                ></i>
              </button>
            </div>
          </td>
          <td class="col-1"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
