<div class="card" style="width: 62.5rem; margin-left: auto; margin-right: auto;">
    <div class="card-header text-center">My Survey</div>
    <div class="card-body">
        <table>
        <tr>
    <th class="col-7">Survey</th>
    <th class="col-2">Created by</th>
    <th class="col-2">Status</th>
    <th class="col-1"></th>
    <th class="col-1"></th>
    <th class="col-1"></th>
</tr>
        <tr>
            <td class="col-7">COVID-19 Vaccination Coverage Survey</td>
            <td class="col-3">Chan</td>
            <td class="col-3">Open</td>
            <td class="col-1">
                <a href="/surveyResult">
                    <i class="fas f-2xl fa-chart-pie" style="color:#33BA79;"></i>
                </a>
            </td>
            <td class="col-1">
                <a href="/editSurvey">
                    <i class="fas f-2xl fa-pen" style="color:#64B5FF;"></i>
                </a>
            </td>
            <td class="col-1">
                <a href="/deleteSurvey">
                    <i class="fa f-2xl fa-trash" style="color:#DC7878;"></i>
                </a>
            </td>
            
        </tr>
    </table>
    </div>
</div>


