.btn
{

width: 220px;
height: 45px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
align-items: center;
text-align: center;
color: #D98A60;
border: 1px solid #D98A60;
border-radius: 10px;
margin-bottom: 30px;
margin-right: 204px;

}