/* You can add global styles to this file, and also import other style files */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #d98a60 !important;
  border: #d98a60;
}
.nav-link-primary {
  background-color: #d98a60 !important;
}

.btn-logout,
.btn-logout:hover,
.btn-logout:active,
.btn-logout:visited {
  background-color: #d96060 !important;
  border: #d96060;
}
.nav-link-logout {
  background-color: #d96060 !important;
}
