.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 7px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name, $color in (default, #777), (primary, #D98A60), (success, #33BA79),
  (danger, #DC7878), (warning, #E5E174), (info, #64B5FF), (bdc, #29527a)
{
  .callout-#{$name} {
    border-left-color: $color;
  }
  .callout-bg-#{$name} {
    background-color: $color;
  }
}
